.main-title{
    text-align:center;
    color:#2563EB;
    font-size:48px;
    font-weight:bold;
}

.subtitle{
    text-align:center;
    color:#64748B;
    font-size:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0px 3px 12px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.metric-card{
    background:#EFF6FF;
    padding:15px;
    border-radius:12px;
    text-align:center;
}

.footer{
    text-align:center;
    color:gray;
    margin-top:40px;
}
